<a href="/login/newuser" _ajL _ajT="#login_block">Зарегистрироваться</a>
<form action="/login" method="post" id="addUserForm">
  <div><input name="email" type="email" placeholder="Email" value="{{json.email}}" /></div>
  <div><input name="password" type="password" placeholder="Password"/></div>
  <div><input name="renderVersion" type="hidden" value="{{render_version}}"/></div>
  <div><button type="submit">Login</button></div>
</form>